#Day 1
##  Codes

###TO Print Even Sum of Numbers

In [1]:
target = int(input())

even_sum = 0

for number in range(2, target+1 , 2):
  even_sum += number


print(even_sum)

34
306

###To Print Total of All the numbers

In [2]:


total = 0

for number in range(0,101):
 total += number

print(total)

5050

###To Print Average height of all the students.

In [3]:


student_heights = input().split()

for n in range(0, len(student_heights)):

  student_heights[n] = int(student_heights[n])

sum = 0

for height in student_heights:

  sum = sum + height





print(f"total height = {sum}")

print(f"number of students = {len(student_heights)}")

avg = int(round(sum/len(student_heights),0))

print(f"average height = {avg}")

56 76 98
total height = 230
number of students = 3
average height = 77

###To print the Highest score of all.

In [4]:


student_scores = input().split()

for n in range(0, len(student_scores)):

  student_scores[n] = int(student_scores[n])

highest = student_scores[0]

for h in student_scores:

  if h > highest:

    highest = h



print(f"The highest score in the class is: {highest}")

87 76 91
The highest score in the class is: 91