#Day 4

##  Code

###Average height of the students

In [16]:
student_heights = input().split()

for n in range(0, len(student_heights)):

  student_heights[n] = int(student_heights[n])

sum = 0

for height in student_heights:

  sum = sum + height





print(f"total height = {sum}")

print(f"number of students = {len(student_heights)}")

avg = int(round(sum/len(student_heights),0))

print(f"average height = {avg}")

34 56 43
total height = 133
number of students = 3
average height = 44

###Creating a List.

In [17]:
my_list = [1, 2, 3, 4, 5]

print(my_list[0])

my_list.append(6)
my_list[1] = 20

for item in my_list:
    print(item)

squared_list = [x**2 for x in my_list]
print(squared_list)

1
1
20
3
4
5
6
[1, 400, 9, 16, 25, 36]

###Using the range funtion

In [18]:
target = 100
for number in range(1,target + 1):
  if number % 3 == 0 and number % 5 == 0:
    print("FizzBuzz")
  elif number % 3 == 0:
    print("Fizz")
  elif number % 5 == 0:
    print("Buzz")
  else:
    print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

###Creating a Love Calculator

In [19]:
print("The Love Calculator is calculating your score...")

name1 = input() # What is your name?

name2 = input() # What is their name?

# ðŸš¨ Don't change the code above ðŸ‘†

# Write your code below this line ðŸ‘‡

name1 = name1.upper()

name2 = name2.upper()

score1=name1.count("T")+name1.count("R")+name1.count("U")+name1.count("E")+name2.count("T")+name2.count("R")+name2.count("U")+name2.count("E")

score2=name2.count("L")+name2.count("O")+name2.count("V")+name2.count("E")+name1.count("L")+name1.count("O")+name1.count("V")+name1.count("E")



score = int(str(score1)+str(score2))

if score<=10 or score>=90:

  print(f"Your score is {score}, you go together like coke and mentos.")

elif 40<=score<=50:

  print(f"Your score is {score}, you are alright together.")

else:

  print(f"Your score is {score}.")

The Love Calculator is calculating your score...
Anuj
Swati
Your score is 20.

###Using Len funtion

In [20]:
sentence = input()



# Using dictionary comprehension

result = {word:len(word) for word in sentence.split()}



print(result)

ANujis
{'ANujis': 6}

###Weather

In [ ]:
# eval() converts correctly formatted string to dict

weather_c = eval(input())



# dictionary comprehension

weather_f = {day:temp * 9/5 + 32 for (day, temp) in weather_c.items()}



print(weather_f)

###Using 2 Diffrent Funtions

In [27]:
class Employee:
    def __init__(self, name, id):
        self.id = id
        self.name = name

    def display(self):
        print("ID: %d\nName: %s" % (self.id, self.name))

emp1 = Employee("Anuj", 101)
emp2 = Employee("Rahul", 102)

emp1.display()
emp2.display()

ID: 101
Name: Anuj
ID: 102
Name: Rahul